.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body
{
    background-size: cover;
    background-position: center;
}
.button {
    background-color: skyblue;
    border: 10px;
    color: skyblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%  ;
  }